* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: darkgray;
  display: grid;
  place-content: center;
  font-family: "Roboto, san-serif";
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 40vh;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 1rem;
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
}

.historyScreen {
  grid-column: 1 / -1;
}

.screen {
  grid-column: 1 / -1;
  color: rgb(243, 243, 243);
  text-align: right;
  padding: 0.5rem;
  font-size: 3rem;
  overflow: hidden;
}