* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;
}

body {
  background-color: darkgray;
  display: grid;
  place-content: center;
  font-family: "Malgun Gothic";
  font-weight: bold;
  height: 100vh;
  font-size: 1.5rem;
}

.container {
  height: 600px;
  width: 300px;
  background-color: rgb(243, 243, 243);
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 10px;
}

.historyScreen {
  grid-column: 1 / -1;
}

.screen {
  grid-column: 1 / -1;
  text-align: right;
  padding: 0.5rem;
  font-size: 3rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: white;
  border-radius: 5%;
  color: black;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.75);
}

.btn:hover {
  color: gray;
}

.light-gray {
  background-color: rgb(249, 249, 249);
}

.blue {
  background-color: rgb(0,103,192);
  color: white;
}